<%- include('partials/header') %>

<main>
  <h1><%= title %></h1>

  <img 
    src="/images/tt.jpg" 
    alt="Organization Logo" 
    class="org-logo"
  />

  <p>List of community organizations goes here.</p>
</main>

<%- include('partials/footer') %>